@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Play:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Glitch+Pop&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 95vh;
  background-image: url(./img/night.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100vh;
}

.scoreboard {
  display: grid;
  grid-template-columns: 230px 230px 230px;
  align-items: center;
  justify-content: center;
  color: rgb(82, 23, 108);
  background-color: black;
  width: 100vw;
  height: 5vh;
  font-size: large;
}

.rounds-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  gap: 8px;
  position: fixed;
  right: 10px;
  padding: 20px;
  font-size: x-large;
}
.rounds-set > input {
  height: 32px;
  width: 32px;
  text-align: center;
  outline: none;
  font-size: xx-large;
  background-color: rebeccapurple;
  border: none;
  border-radius: 8px;
  padding: 8px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.scoreboard > .score-one {
  color: rgb(148, 148, 44);
}

.scoreboard > .score-two {
  color: rgb(16, 68, 164);
}
.play-btns {
  width: 200px;
}
.play-btns > button {
  width: 100%;
  height: 80px;
  padding: 4px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: xx-large;
}

.play-btns > .btn-ctrl {
  background-color: rgb(82, 23, 108);
  border: 3px solid black;
  height: 160px;
}

.text {
  width: 100%;
  color: aliceblue;
  font-style: italic;
  text-align: center;
}

.play-btns > .btn-one {
  background-color: rgb(148, 148, 44);
}

.play-btns > .btn-two {
  background-color: rgb(16, 68, 164);
}
.house-one {
  background-color: black;
  padding: 14px;
  border-radius: 4px;
  width: 300px;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 160px;
  cursor: crosshair;
}

.house-one > button {
  width: 55px;
  height: 55px;
  background-color: rgb(148, 148, 44);
  cursor: cell;
  font-size: xx-large;
}

.house-one > button:active {
  background-color: rebeccapurple;
}

.house-two {
  background-color: black;
  padding: 14px;
  width: 300px;
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 160px;
  cursor: crosshair;
}

.house-two > button {
  width: 55px;
  height: 55px;
  background-color: rgb(16, 68, 164);
  cursor: cell;
  font-size: xx-large;
}

.house-two > button:active {
  background-color: rebeccapurple;
}

.author-button > a {
  text-decoration: none;
  color: rebeccapurple;
  position: fixed;
  right: 15px;
  bottom: 15px;
  font-size: x-large;
}

@media screen and (max-width: 420px) {
  .scoreboard {
    display: grid;
    grid-template-columns: 120px 100px 100px;
    width: 100vw;
    height: 5vh;
    font-size: small;
  }
  .rounds-set {
    height: 40px;
    gap: 8px;
    bottom: 90px;
    left: 10px;
    padding: 20px;
    font-size: medium;
    background-color: rgb(173, 149, 197);
    width: 200px;
    left: 25%;
    position: fixed;
    border-radius: 5px;
  }
  .rounds-set > input {
    height: 32px;
    width: 32px;
    font-size: medium;
    padding: 8px;
  }
  .play-btns {
    width: 50px;
    position: fixed;
    bottom: 210px;
    padding: 10px;
  }
  .play-btns > button {
    width: 200px;
    height: 80px;
    padding: 4px;
    font-size: xx-large;
    left: 25%;
    position: fixed;
    border: 1px solid black;
  }

  .play-btns > .btn-ctrl {
    height: 160px;
    width: 200px;
    font-size: xx-large;
    border: none;
    left: 25%;
    bottom: 310px;
    position: fixed;
  }
  .text-div {
    bottom: 150px;
    position: fixed;
    left: 0px;
    background-color: black;
    padding: 10px;
    width: 100%;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .text {
    font-size: medium;
  }

  .house-one {
    padding: 14px;
    width: 210px;
    height: 90vh;
    gap: 20px;
    margin: 3px;
  }

  .house-one > button {
    width: 55px;
    height: 55px;
    font-size: xx-large;
  }

  .house-two {
    padding: 14px;
    width: 210px;
    height: 90vh;
    gap: 20px;
    margin: 3px;
  }

  .house-two > button {
    width: 55px;
    height: 55px;
    font-size: xx-large;
  }
  .author-button > a {
    right: 1px;
    top: 1px;
    height: 35px;
    width: 45px;
  }
}

@media screen and (max-width: 920px) and (min-width: 421px) {
  .scoreboard {
    grid-template-columns: 180px 160px 160px;
  }

  .house-one {
    width: 330px;
    height: 90vh;
    margin: 3px;
  }

  .house-one > button {
    width: 75px;
    height: 75px;
    font-size: xx-large;
  }

  .house-two {
    width: 330px;
    height: 90vh;
    margin: 3px;
  }

  .house-two > button {
    width: 75px;
    height: 75px;
    font-size: xx-large;
  }

  .play-btns > button {
    height: 120px;
    border: 1px solid black;
  }
}
